---
page_classes: "interior"
---

</main>

<header class="page-header">
  <div class="img-holder" style="background-image: url('/images/backgrounds/bg-services.jpg');" data-stellar-ratio=".5"></div>
  <div class="page-header__content">
    <h1>Our Services</h1>
    <h2><%= lorem.sentence %></h2>
    <p><%= lorem.sentences(3) %>.</p>
  </div>
</header> <!-- /page-header -->

<main class="main-content">
<hr />


<div class="services__group">
  <div class="services__specific">
    <%= image_tag "home/img-restoration.jpg" %>
    <h4>Restoration</h4>
    <p>Our full range of emergency water damage restoration services includes water extraction, dry-outs, removal of damaged materials, and complete reconstruction. Our experienced team of PROS is ready to help you protect your most valuable investment, your home!</p>
  </div>
  <div class="services__specific">
    <%= image_tag "home/img-roofing.jpg" %>
    <h4>Roofing/Siding/Gutters</h4>
    <p>Our PROS understand that there is only one way to approach roofing, siding, and gutters … and that’s the RIGHT way! Your roof, siding, and gutters are designed to protect your home from the elements. Our highly experienced teams are dedicated to providing superior craftsmanship while using only proven techniques and a full line of top brand name quality products. We stay committed to responding promptly and courteously to our clients roofing, siding, and water management needs.</p>
  </div>
  <div class="services__specific">
    <%= image_tag "home/img-storm.jpg" %>
    <h4>Storm Damage</h4>
    <p>If you experience storm damage to your home or property, it is CRUCIAL to have an experienced professional representing you and your best interests. You may think that the most important call you can make is to your insurance provider, and while that call is important enough to be your second call, the BEST decision you can make is to CALL THE PROS first!</p>
  </div>
</div> <!-- /services__specifics-breakdown -->

<div class="services__group">
  <div class="services__specific">
    <%= image_tag "home/img-property.jpg" %>
    <h4>Multi-unit Property Management</h4>
    <p>Our team of experienced PROS can help you maintain and upgrade your property by performing any type of service work that is outside the capabilities of your maintenance staff. Those services include roofing, siding, gutter work and cleaning, painting, staining, window/door repairs and installation, general construction, full electrical services, full plumbing services, foundation repairs, apartment turns, flooring installations, carpet cleaning, concrete repairs/installation, asphalt repairs/installation, parking lot striping, and full lawn and landscape services. There is no need to search the Tri-State for multiple companies to perform each service. One call to the PROS is all it takes to improve your property and promote low vacancy numbers!</p>
  </div>
  <div class="services__specific">
    <%= image_tag "home/img-insurance.jpg" %>
    <h4>Insurance Claims</h4>
    <p>Our trained and highly experienced PROS will provide you with outstanding representation while working directly with your insurance company to make the claim process as convenient as possible. We KNOW how to represent your best interests in protecting your home!</p>
  </div>
  <div class="services__specific">
    <%= image_tag "home/img-construction.jpg" %>
    <h4>General Construction</h4>
    <p>Our design-build PROS are(???) qualified in all areas of construction and remodeling.  From interior designers to virtual walk-throughs of proposed spaces, we provide customized solutions down to the finishing touches to help you achieve your project vision and goals.</p>
  </div>
</div> <!-- /services__specifics-breakdown -->


<div class="services__group">
  <div class="services__specific">
    <%= image_tag "home/img-remodeling.jpg" %>
    <h4>Interior &amp; Exterior Remodeling</h4>
    <p>With a dedicated project coordinator assigned to each remodeling project, the PROS are able to provide the undivided attention your project deserves. Our full line of remodeling services has no boundaries! If you can dream it, we can build it!</p>
  </div>
  <div class="services__specific">
    <%= image_tag "home/img-windows.jpg" %>
    <h4>Windows/Doors</h4>
    <p>The product lines we offer include a full range of windows, doors, skylights, and custom millwork from America’s finest trusted retailers. Our PROS will provide a seamless experience from design through installation to enhance the beauty of your home and protect it for years to come.</p>
  </div>
  <div class="services__specific">
    <%= image_tag "home/img-concrete.jpg" %>
    <h4>Concrete &amp; Asphalt</h4>
    <p>Whether it’s a foundation wall, driveway, decorative flat work, or asphalt repairs/installations, our concrete and asphalt PROS focus on providing maximum longevity and integrity to the structures and surfaces we install. We work closely with our clients to design plans that reflect their vision and specifications, and we use only the BEST craftsmanship, quality products, and proven techniques in the industry…guaranteed!</p>
  </div>
</div> <!-- /services__specifics-breakdown -->

<%= content_tag :button, "Contact Us to Get Started", class: "btn btn--secondary" %>

