<div class="company-contact">
  <%= link_to image_tag("img-logo-alt.png"), "/" %>
  <ul class="address-phone">
    <li>Phone: 513.488.1000</li>
    <li>Fax: 513.488.1001</li>
    <li>Email: <%= link_to "info@call-the-pros.com", "mailto:info@call-the-pros.com" %></li>
  </ul> <!-- /address-phone -->
  <ul class="social">
    <li>
      Find us:
      <%= link_to "<i class='fa fa-facebook'></i>", "https://www.facebook.com/pages/Midwest-Property-Pros/367211796734301" %>
      <%= link_to "<i class='fa fa-twitter'></i>", "#" %>
      <%= link_to "<i class='fa fa-instagram'></i>", "#" %>
    </li>
  </ul>
</div> <!-- /company-contact -->
<%
  site_sections = {
    "Our Work" => "/our-work",
    "Meet Us" => "/meet-us",
    "Contact Us" => "/contact-us"
  }
%>
<% site_sections.each do |name, url| %>
<div class="section-breakdown">
  <header class="section-breakdown__header">
    <%= content_tag :h3, link_to(name, url) %>
  </header> <!-- /section-breakdown__header -->
</div> <!-- /section-breakdown -->
<% end %>
