---
page_classes: "interior"
---

<header class="page-header">
  <h1>Contact Us</h1>
  <h2><%= lorem.sentence %></h2>
  <p><%= lorem.sentences(3) %>.</p>
</header> <!-- /page-header -->

<hr />

<section class="contact-form">
  <form action="http://getsimpleform.com/messages?form_api_token=db19a5378962ce74da17b6341c2054e8" method="post">
    <input type='hidden' name='redirect_to' value='http://proppros.herokuapp.com/contact/thank-you.html' />
    <div class="form-group">
      <label for="name">Your Name<sup>*</sup>:</label>
      <input name="name" type="text" id="" placeholder="i.e. Joe Customer" />
    </div> <!-- /form-group -->
    <div class="form-group email">
      <label for="email">Your Email<sup>*</sup>:</label>
      <input name="email" type="email" id="" placeholder="i.e. joecustomer@gmail.com" />
    </div>
    <div class="form-group telephone">
      <label for="telephone">Your Telephone:</label>
      <input name="telephone" type="tel" id="" placeholder="i.e. 513-123-4567" />
    </div>
    <div class="form-group reason">
      <label for="contact-reason">The Reason You're Contacting</label>
      <select name="contact-reason">
        <option value="">Please select</option>
        <option value="New work">New work</option>
      </select>
    </div>
    <div class="form-group ">
      <label for="message">What do you want us to know?</label>
      <textarea name="message"></textarea>
    </div>
    <div class="form-group">
      <label for="referral">Where did you hear about us?</label>
      <input type="text" name="referral" placeholder="i.e. Word of mouth, Internet search, etc." />
    </div>
    <p class="asterisk"><sup>*</sup> indicates required field</p>
    <hr />
    <div class="action-group">
      <button type="submit" class="btn btn--primary">Contact</button>
    </div>
  </form>
</section> <!-- /contact-form -->

<section class="contact-info">
  <%= image_tag("img-logo.png", class: "logo") %>
  <ul class="address-phone">
    <li><strong>Phone</strong>: 513.488.1000</li>
    <li><strong>Fax</strong>: 513.488.1001</li>
    <li><strong>Email</strong>: <%= link_to "info@call-the-pros.com", "mailto:info@call-the-pros.com" %></li>
  </ul> <!-- /address-phone -->
  <ul class="address-phone social">
    <li>
      Find us:
      <%= link_to "<i class='fa fa-facebook'></i>", "https://www.facebook.com/pages/Midwest-Property-Pros/367211796734301" %>
      <%= link_to "<i class='fa fa-twitter'></i>", "#" %>
      <%= link_to "<i class='fa fa-instagram'></i>", "#" %>
    </li>
  </ul>
</section> <!-- /contact-info -->


