---
page_classes: "home"
---
<section class="who-we-are">
  <div class="who-we-are__content">
    <h1>Quality Craftmanship Starts Here</h1>
    <p>Our goal is to create an impression on clients from our first encounter that reflects our character and provides you with the assurance that we will truly handle your project as if it were our own.</p>
    <%= content_tag :button, "Contact Us To Get Started", class: "btn btn--secondary" %>
  </div> <!--/who-we-are__content -->
</section> <!-- /who-we-are -->


    <section id="residential" class="featured-project">
      <div class="featured-project__content">
        <header class="section-header">
          <h3>Our Services</h3>
        </header> <!-- /section-header -->
        <div class="services__group">
          <div class="services__specific">
            <%= image_tag "home/img-restoration.jpg" %>
            <h4>Restoration</h4>
            <p>Our full range of emergency water damage restoration services includes water extraction, dry-outs, removal of damaged materials, and complete reconstruction.</p>
          </div>
          <div class="services__specific">
            <%= image_tag "home/img-roofing.jpg" %>
            <h4>Roofing/Siding</h4>
            <p>Our PROS understand that there is only one way to approach roofing, siding, and gutters &hellip; and that&rsquo;s the RIGHT way!</p>
          </div>
          <div class="services__specific">
            <%= image_tag "home/img-storm.jpg" %>
            <h4>Storm Damage</h4>
            <p>If you experience storm damage to your home or property, it is CRUCIAL to have an experienced professional representing you and your best interests. </p>
          </div>
        </div> <!-- /services__specifics-breakdown -->
        <div class="testimonial">
          <div class="testimonial__text">
            <p>&ldquo;The solutions that Property Pros provided have drastically changed the comfort level of my home.  I appreciate their timeliness, professionalism, and extraordinary level of detail they put into each task that was completed&rdquo;</p>
            <%= link_to "Adam Rogers", "#", class: "testimonial__source" %>
          </div> <!-- /testimonial__text -->
        </div> <!-- /testimonial -->
        <%= content_tag :button, "Contact Us to Get Started", class: "btn btn--secondary" %>
      </div>
    </section> <!-- /featured-project -->

    <div class="img-holder" style="background-image: url('/images/backgrounds/bg-page.jpg');" data-stellar-background-ratio=".5">
      <blockquote class="quote">
        <p>Do the right thing. It will gratify some people and astonish the rest.</p>
        <cite>&mdash; Mark Twain</cite>
      </blockquote>
    </div>

        <section id="commercial" class="featured-project">
          <div class="featured-project__content">
            <header class="section-header">
              <h3>Our Services</h3>
            </header> <!-- /section-header -->
            <div class="services__group">
              <div class="services__specific">
                <%= image_tag "home/img-property.jpg" %>
                <h4>Multi-unit Property Management</h4>
                <p>Our team of experienced PROS can help you maintain and upgrade your property by performing any type of service work that is outside the capabilities of your maintenance staff.</p>
              </div>
              <div class="services__specific">
                <%= image_tag "home/img-insurance.jpg" %>
                <h4>Insurance Claims</h4>
                <p>Our trained and highly experienced PROS will provide you with outstanding representation while working directly with your insurance company to make the claim process as convenient as possible.</p>
              </div>
              <div class="services__specific">
                <%= image_tag "home/img-construction.jpg" %>
                <h4>General Construction</h4>
                <p>Our design-build PROS are qualified in all areas of construction and remodeling.</p>
              </div>
            </div> <!-- /services__specifics-breakdown -->
            <%= content_tag :button, "Contact Us to Get Started", class: "btn btn--secondary" %>
          </div>
        </section> <!-- /featured-project -->

    <div class="stamp-contact">
      <%= link_to image_tag("img-stamp.png"), "/contact" %>
    </div>

    <section id="other" class="featured-project">
      <div class="featured-project__content">
        <header class="section-header">
          <h3>Our Services</h3>
        </header> <!-- /section-header -->
        <div class="services__group">
          <div class="services__specific">
            <%= image_tag "home/img-remodeling.jpg" %>
            <h4>Interior &amp; Exterior Remodeling</h4>
            <p>With a dedicated project coordinator assigned to each remodeling project, the PROS are able to provide the undivided attention your project deserves.</p>
          </div>
          <div class="services__specific">
            <%= image_tag "home/img-windows.jpg" %>
            <h4>Windows/Doors</h4>
            <p>The product lines we offer include a full range of windows, doors, skylights, and custom millwork from America&rsquo;s finest trusted retailers.</p>
          </div>
          <div class="services__specific">
            <%= image_tag "home/img-concrete.jpg" %>
            <h4>Concrete &amp; Asphalt</h4>
            <p>Whether it&rsquo;s a foundation wall, driveway, decorative flat work, or asphalt repairs/installations, our concrete and asphalt PROS focus on providing maximum longevity and integrity to the structures and surfaces we install.</p>
          </div>
        </div> <!-- /services__specifics-breakdown -->
        <%= content_tag :button, "Contact Us to Get Started", class: "btn btn--secondary" %>
      </div>
    </section> <!-- /featured-project -->
