---
page_classes: "home"
---
<section class="who-we-are">
  <div class="who-we-are__content">
    <h1>Quality Craftmanship Starts Here</h1>
    <p>Our goal is to create an impression on clients from our first encounter that reflects our character and provides you with the assurance that we will truly handle your project as if it were our own.</p>
    <%= content_tag :button, "Contact Us To Get Started", class: "btn btn--secondary" %>
  </div> <!--/who-we-are__content -->
</section> <!-- /who-we-are -->


    <section id="residential" class="featured-project">
      <div class="featured-project__content">
        <header class="section-header">
          <h3>Our Services</h3>
        </header> <!-- /section-header -->
        <div class="featured-services__breakdown">
          <div class="featured-service">
            <%= image_tag "home/img-restoration.jpg" %>
            <h4>Restoration</h4>
            <p><%= lorem.sentence %>.</p>
          </div>
          <div class="featured-service">
            <%= image_tag "home/img-roofing.jpg" %>
            <h4>Roofing/Siding</h4>
            <p><%= lorem.sentence %>.</p>
          </div>
          <div class="featured-service">
            <%= image_tag "home/img-storm.jpg" %>
            <h4>Storm Damage</h4>
            <p><%= lorem.sentence %>.</p>
          </div>
        </div> <!-- /featured-services-breakdown -->
        <div class="testimonial">
          <div class="testimonial__photo">
            <%= image_tag "temp/img-divya.png" %>
          </div> <!-- /photo -->
          <div class="testimonial__text">
            <p>Upon our initial meeting, our Property Pros representative asked us some very pertinent questions about how we live and what we wanted to accomplish.  We also gave him our wish list and ideas about how we wanted the space to function.  He really pulled it all together, and we are so grateful for what they have done.   Not only is our new finished lower level gorgeous, but functional and warm.&rdquo;.</p>
            <%= link_to "Divya Martin", "#", class: "testimonial__source" %>
          </div> <!-- /testimonial__text -->
        </div> <!-- /testimonial -->
        <%= content_tag :button, "Contact Us to Get Started", class: "btn btn--secondary" %>
      </div>
    </section> <!-- /featured-project -->

    <div class="img-holder" style="background-image: url('/images/backgrounds/bg-page.jpg');" data-stellar-background-ratio=".5">
      <blockquote class="quote">
        <p>Do the right thing. It will gratify some people and astonish the rest.</p>
        <cite>&mdash; Mark Twain</cite>
      </blockquote>
    </div>

        <section id="commercial" class="featured-project">
          <div class="featured-project__content">
            <header class="section-header">
              <h3>Our Services</h3>
            </header> <!-- /section-header -->
            <div class="featured-services__breakdown">
              <div class="featured-service">
                <%= image_tag "home/img-property.jpg" %>
                <h4>Multi-unit Property Management</h4>
                <p><%= lorem.sentence %>.</p>
              </div>
              <div class="featured-service">
                <%= image_tag "home/img-insurance.jpg" %>
                <h4>Insurance Claims</h4>
                <p><%= lorem.sentence %>.</p>
              </div>
              <div class="featured-service">
                <%= image_tag "home/img-construction.jpg" %>
                <h4>General Construction</h4>
                <p><%= lorem.sentence %>.</p>
              </div>
            </div> <!-- /featured-services-breakdown -->
            <div class="testimonial">
              <div class="testimonial__photo">
                <%= image_tag "temp/img-adam.png" %>
              </div> <!-- /photo -->
              <div class="testimonial__text">
                <p><%= lorem.sentences 2 %>.</p>
                <%= link_to "Adam Rodgers", "#", class: "testimonial__source" %>
              </div> <!-- /testimonial__text -->
            </div> <!-- /testimonial -->
            <%= content_tag :button, "Contact Us to Get Started", class: "btn btn--secondary" %>
          </div>
        </section> <!-- /featured-project -->

    <div class="img-holder" style="background-image: url('/images/backgrounds/bg-pull-2.jpg');" data-stellar-background-ratio=".5">
      <blockquote class="quote">
        <p><%= lorem.sentence %>.</p>
        <cite>&mdash; Someone Else</cite>
      </blockquote>
    </div>

    <section id="other" class="featured-project">
      <div class="featured-project__content">
        <header class="section-header">
          <h3>Our Services</h3>
        </header> <!-- /section-header -->
        <div class="featured-services__breakdown">
          <div class="featured-service">
            <%= image_tag "home/img-remodeling.jpg" %>
            <h4>Interior &amp; Exterior Remodeling</h4>
            <p><%= lorem.sentence %>.</p>
          </div>
          <div class="featured-service">
            <%= image_tag "home/img-windows.jpg" %>
            <h4>Windows/Doors</h4>
            <p><%= lorem.sentence %>.</p>
          </div>
          <div class="featured-service">
            <%= image_tag "home/img-concrete.jpg" %>
            <h4>Concrete &amp; Asphalt</h4>
            <p><%= lorem.sentence %>.</p>
          </div>
        </div> <!-- /featured-services-breakdown -->
        <div class="testimonial">
          <div class="testimonial__photo">
            <%= image_tag "temp/img-ryan.png" %>
          </div> <!-- /photo -->
          <div class="testimonial__text">
            <p>Upon our initial meeting, our Property Pros representative asked us some very pertinent questions about how we live and what we wanted to accomplish.  We also gave him our wish list and ideas about how we wanted the space to function.  He really pulled it all together, and we are so grateful for what they have done.   Not only is our new finished lower level gorgeous, but functional and warm.&rdquo;.</p>
            <%= link_to "Ryan Jones", "#", class: "testimonial__source" %>
          </div> <!-- /testimonial__text -->
        </div> <!-- /testimonial -->
        <%= content_tag :button, "Contact Us to Get Started", class: "btn btn--secondary" %>
      </div>
    </section> <!-- /featured-project -->
