---
page_classes: "home"
---
<section class="who-we-are">
  <div class="who-we-are__content">
    <h1>Quality Craftmanship Starts Here</h1>
    <p>Our goal is to create an impression on clients from our first encounter that reflects our character and provides you with the assurance that we will truly handle your project as if it were our own.</p>
    <%= content_tag :button, "Contact Us To Get Started", class: "btn btn--secondary" %>
  </div> <!--/who-we-are__content -->
</section> <!-- /who-we-are -->

<div class="img-holder" style="background-image: url('/images/backgrounds/bg-page.jpg');" data-stellar-background-ratio=".5">
  <blockquote class="quote">
    <p>Do the right thing. It will gratify some people and astonish the rest.</p>
    <cite>&mdash; Mark Twain</cite>
  </blockquote>
</div>

    <section id="residential" class="featured-project">
      <div class="featured-project__content">
        <header class="section-header">
          <h3>Featured Residential Project</h3>
        </header> <!-- /section-header -->
        <h2>Kitchen Remodel</h2>
        <p><%= lorem.sentence %>.</p>
        <div class="featured-project__images">
          <%= link_to image_tag("temp/img-feature-res-1.jpg"), "#" %>
          <%= link_to image_tag("temp/img-feature-res-2.jpg"), "#" %>
          <%= link_to image_tag("temp/img-feature-res-3.jpg"), "#" %>
        </div> <!-- /featured-project-images -->
        <div class="project-services">
          <h4>Services</h4>
          <ul class="project-services__list">
            <%
                services = {
              "Demolition"   => "/",
              "Construction" => "/",
              "Painting"     => "/",
              "Plumbing"     => "/"
            }  
          %>
          <% services.each do |name, url| %>
              <%= content_tag :li, link_to(name, url) %>
          <% end %>
          </ul> <!-- /project-services__list -->
        </div> <!-- /project-services -->
        <div class="testimonial">
          <div class="testimonial__photo">
            <%= image_tag "temp/img-divya.png" %>
          </div> <!-- /photo -->
          <div class="testimonial__text">
            <p><%= lorem.sentences 2 %>.</p>
            <%= link_to "Divya Martin", "#", class: "testimonial__source" %>
          </div> <!-- /testimonial__text -->
        </div> <!-- /testimonial -->
        <%= content_tag :button, "View Complete Project", class: "btn btn--secondary" %>
      </div>
    </section> <!-- /featured-project -->

    <section class="what-we-do">
      <div class="what-we-do__content">
        <header class="section-header">
          <h3>Residential Services</h3>
        </header> <!-- /section-header -->
        <%
            services = ["Finishing", "Remodeling", "Development"] 
          %>
          <% services.each do |service| %>
              <div class="service-description <%= service.downcase %>">
              <header class="service-description__header">
                <%= content_tag :h3, service %>
              </header> <!-- /service-description__header -->
              <div class="service-description__body">
                <p><%= lorem.sentences 4 %>.</p>
              </div><!-- /body -->
            </div> <!-- /service-description -->
          <% end %>
          </div>
        </section> <!-- /what-we-do -->


        <section id="commercial" class="featured-project">
          <div class="featured-project__content">
            <header class="section-header">
              <h3>Featured Commercial Project</h3>
            </header> <!-- /section-header -->
            <h2>Office Remodel</h2>
            <p><%= lorem.sentence %>.</p>
            <div class="featured-project__images">
              <%= link_to image_tag("temp/img-feature-comm-1.jpg"), "#" %>
              <%= link_to image_tag("temp/img-feature-comm-2.jpg"), "#" %>
              <%= link_to image_tag("temp/img-feature-comm-3.jpg"), "#" %>
            </div> <!-- /featured-project-images -->
            <div class="project-services">
              <h4>Services</h4>
              <ul class="project-services__list">
                <%
                    services = {
                  "Demolition"   => "/",  
                  "Construction" => "/",  
                  "Painting"     => "/",  
                  "Plumbing"     => "/"  
                }  
              %>
              <% services.each do |name, url| %>
                  <%= content_tag :li, link_to(name, url) %>
              <% end %>
              </ul> <!-- /project-services__list -->
            </div> <!-- /project-services -->
            <div class="testimonial">
              <div class="testimonial__photo">
                <%= image_tag "temp/img-adam.png" %>
              </div> <!-- /photo -->
              <div class="testimonial__text">
                <p><%= lorem.sentences 2 %>.</p>
                <%= link_to "Adam Rodgers", "#", class: "testimonial__source" %>
              </div> <!-- /testimonial__text -->
            </div> <!-- /testimonial -->
            <%= content_tag :button, "View Complete Project", class: "btn btn--secondary" %>
          </div>
        </section> <!-- /featured-project -->

    <section class="what-we-do">
      <div class="what-we-do__content">
        <header class="section-header">
          <h3>Commercial Services</h3>
        </header> <!-- /section-header -->
        <%
            services = ["Finishing", "Remodeling", "Development"] 
          %>
          <% services.each do |service| %>
              <div class="service-description <%= service.downcase %>">
              <header class="service-description__header">
                <%= content_tag :h3, service %>
              </header> <!-- /service-description__header -->
              <div class="service-description__body">
                <p><%= lorem.sentences 4 %>.</p>
              </div><!-- /body -->
            </div> <!-- /service-description -->
          <% end %>
          </div>
        </section> <!-- /what-we-do -->


